---
import githubLogo from './github.svg'
export enum ProjectType {
    WorkInProgress = "WIP",
    Finished = "DONE",
    Job = "Job",
    Freelance = "Freelancer"
}
export interface Props {
    name: string;
    link?: string;
    shortDescription: string;
    technologies: string[];
    projectType: Type;
}

const technologyColors = {
    "Python": "bg-blue",
    "Django": "bg-green",
    "Svelte": "bg-maroon text-white"
}

function mapTechnologyToColor(technology: string) {
    return technologyColors[technology] ?? "text-red"
}

const { name, link, shortDescription, technologies, projectType } = Astro.props;
---

<div class={`rounded-md ${projectType} flex gap-2 items-center shadow-md shadow-rosewater p-2`}>
    <div class="flex-1">
        <div class={`text-overlay0 font-bold text-xl`}>
            {name}
            {link && 
                <a href={link}>
                    <i alt="Github logo" class="text-md inline-block text-text fa-brands fa-github-alt">
                </a>
            }
        </div>
        <div class="text-text">{shortDescription}</div>
    </div>
    {technologies.map(s => <div class={`${mapTechnologyToColor(s)} rounded-2xl px-2 py-1 text-center text-md`}>{s}</div>)}
</div>
