---
export enum ProjectType {
    WorkInProgress = "WIP",
    Finished = "DONE",
    Job = "Job",
    Freelance = "Freelancer"
}
export interface Props {
    name: string;
    link?: string;
    shortDescription: string;
    technologies: string[];
    type: ProjectType;
}

const technologyColors: Record<string, string> = {
    "Python": "bg-blue-500 text-white",
    "Django": "bg-cp-green",
    "Svelte": "bg-cp-maroon text-white",
    "React": "bg-blue-400 text-white",
    "TypeScript": "bg-blue-300 text-white",
    "Angular": "bg-red-500 text-white",
    "NodeJS": "bg-green-300",
    "Astro": "bg-orange-600 text-white",
    "Tailwind": "bg-sky-300 text-slate-100",
    "SCSS": "bg-pink-300 text-white"
}

function mapTechnologyToColor(technology: string) {
    return technologyColors[technology] ?? "text-cp-red"
}

const { name, link, shortDescription, technologies, type } = Astro.props;

const icon = (link && link.startsWith('https://git')) ? 'fa-brands fa-github-alt' : 'fa-solid fa-link'

// TODO: Improve responsibility by moving badges to a different flex with set basis and wrap
---

<div class={`rounded-md ${type} flex gap-2 shadow-md shadow-cp-rosewater p-2 flex-col md:flex-row md:items-center`}>
    <div class="flex-1">
        <div class={`text-cp-overlay0 font-bold text-xl`}>
            {name}
            {link && 
                <a href={link}>
                    <i alt="Github logo" class={`text-md inline-block text-cp-text ${icon}`}>
                </a>
            }
        </div>
        <div class="text-cp-text">{shortDescription}</div>
    </div>
    <div class="flex gap-2 flex-wrap justify-center">
        {technologies.map(s => <div class={`${mapTechnologyToColor(s)} rounded-2xl px-2 py-1 text-center text-md`}>{s}</div>)}
    </div>
</div>
